.homeImages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.homeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}